Repository opensearch-project/data-prepper, pull requests merged in 2021-12, with the labels that each got.

#717 [backport 1.1] Add yum update to data prepper to consume all pkg updates
  release/docker/Dockerfile
Labels: backport 1.x, docker

#715 [backport 1.2] Add yum update to data prepper to consume all pkg updates
  release/docker/Dockerfile
Labels: docker

#713 [main] Add yum update to data prepper to consume all pkg updates
  release/docker/Dockerfile
Labels: docker

#760 Updated to log4j 2.17.0 which fixes CVE-2021-45105. Resolves #759
  build.gradle
  data-prepper-core/build.gradle
  data-prepper-plugins/opensearch/build.gradle
Labels: backport 1.2
